<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link
      href="/your-path-to-fontawesome/css/fontawesome.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script>
      var Username = "";
      function resizeIframe(obj) {
        obj.style.height =
          obj.contentDocument.documentElement.scrollHeight + "px";
      }
      function onSlide(event) {
        var eventIframe = document.getElementById("iframeWrap");
        var newSrc = event.relatedTarget.id;
        eventIframe.innerHTML =
          "<iframe id='iframeEvent' src=" +
          newSrc +
          " onload='resizeIframe(this)'></iframe>";
      }
      function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(";");
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == " ") {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }
      function Logout() {
        document.cookie =
          "Username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        window.location.href = "index.html";
      }
      function LoginToLogout() {
        var signinBtn = document.getElementById("signin-btn-wrap");
        signinBtn.innerHTML =
          '<button type="button" id="signin-btn" class="btn btn-outline-success" onclick="Logout();">Logout</button>';
      }
      function Load() {
        var myCarousel = document.getElementById("caroselloEventi");
        myCarousel.addEventListener("slid.bs.carousel", onSlide);
        var name = getCookie("Username");
        if (name != "") {
          Username = name;
          LoginToLogout();
          return;
        }
        var url_str = window.location.href;
        var url = new URL(url_str);
        if (url.searchParams.has("prob")) {
          var prob = parseInt(url.searchParams.get("prob"));
          switch (prob) {
            case 1:
              alert("Nome utente già in uso");
              break;
            case 2:
              alert("Email già in uso");
              break;
            case 3:
              alert("Problema non riconosciuto");
              break;
            case 4:
              alert("Nome utente non esistente");
              break;
            case 5:
              alert("Password errata");
              break;
            default:
              alert("Problema non riconosciuto");
          }
          return;
        }
      }
    </script>
    <title>HomePageProject</title>
  </head>
  <body onload="Load();">
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        bg-light
        shadow-sm
        p-3
        mb-5
        bg-white
        rounded
      "
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#home">#AdessoBasta</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacts</a>
            </li>
          </ul>

          <form class="d-flex">
            <div id="signin-btn-wrap">
              <button
                type="button"
                id="signin-btn"
                class="btn btn-outline-success"
                data-bs-toggle="modal"
                data-bs-target="#loginModal"
              >
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <div class="modal fade" id="loginModal" aria-hidden="true" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginLabel">Accedi al sito</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              action="Login.php"
              class="form-signin"
              method="POST"
              name="formLogin"
              onsubmit=""
            >
              <input
                type="text"
                name="loginUser"
                class="form-control"
                placeholder="Inserisci il nome utente"
                required
                autofocus
              /><br />
              <input
                type="password"
                name="loginPassword"
                class="form-control"
                placeholder="Password"
                required
              /><br />
              <button
                class="btn btn-lg btn-primary btn-block"
                name="loginButton"
                type="submit"
              >
                Login
              </button>
            </form>
          </div>
          <div class="modal-footer">
            Non sei registrato?
            <button
              class="astext"
              data-bs-target="#signModal"
              data-bs-toggle="modal"
              data-bs-dismiss="modal"
            >
              Registrati ora
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="signModal" aria-hidden="true" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginLabel">Registrati al sito</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              action="SignIn.php"
              class="form-signin"
              method="POST"
              name="formLogin"
              onsubmit=""
            >
              <input
                type="text"
                name="loginUser"
                class="form-control"
                placeholder="Inserisci il nome utente"
                required
                autofocus
              /><br />
              <input
                type="email"
                name="loginEmail"
                class="form-control"
                placeholder="Inserisci l'email"
                required
              /><br />
              <input
                type="password"
                name="loginPassword"
                class="form-control"
                placeholder="Password"
                required
              /><br />
              <button
                class="btn btn-lg btn-primary btn-block"
                name="signinButton"
                type="submit"
              >
                Registrati
              </button>
            </form>
          </div>
          <div class="modal-footer">
            Sei già registrato?
            <button
              class="astext"
              data-bs-target="#loginModal"
              data-bs-toggle="modal"
              data-bs-dismiss="modal"
            >
              Accedi qui
            </button>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="scrollup" id="TornaSu">
      <img id="scrollArrow" src="assets\img\images\images.png" />
    </a>
    <div class="container">
      <section id="carousel-section">
        <div
          id="caroselloEventi"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner" id="innercar">
            <div
              v-for="x in carousel"
              v-bind:class="x.class"
              v-bind:id="x.id"
              v-bind:key="x.alt"
            >
              <img id="imgCarousel" v-bind:src="x.src" v-bind:alt="x.alt" />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#caroselloEventi"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#caroselloEventi"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div id="iframeWrap">
          <iframe
            id="iframeEvent"
            src="assets/img/texts/Evento_1.html"
            onload="resizeIframe(this)"
          ></iframe>
        </div>
      </section>
      <section class="events-section my-5">
        <div class="container">
          <div class="row">
            <dic class="col">
              <img
                src="/ProgettoLTW/client/assets/img/images/iconFaces.png"
                alt="Nepo"
                class="center"
              />
            </dic>
            <div class="col">
              <img
                src="/ProgettoLTW/client/assets/img/images/logo_nepo.png"
                alt="Nepo"
                class="center"
              />
            </div>
          </div>
          <!-- EVENT CARDS -->
          <div class="row" style="text-align: center">
            <div class="col">
              <div class="card-event">
                <div class="hvrbox" v-for="x in event">
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    v-bind:data-bs-target="x.modal_link"
                  >
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      v-bind:id="x.modal"
                      tabindex="-1"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">{{x.text}}</div>
                        </div>
                      </div>
                    </div>
                    <img
                      v-bind:src="x.id"
                      v-bind:alt="x.alt"
                      class="hvrbox-layer_bottom"
                    />
                    <div class="hvrbox-layer_top">
                      <div class="hvrbox-text">{{x.text}}</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!-- event 1 -->
          </div>
          <div class="col">
            <!-- event 2 -->
          </div>
          <div class="col">
            <!-- event 1 -->
          </div>
        </div>
      </section>

      <!-- NEWS SECTION-->
      <section class="magazine-section my-5">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">
          Section title
        </h2>
        <!-- Section description -->
        <p class="text-center dark-grey-text w-responsive mx-auto mb-5">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit id laborum.
        </p>

        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-lg-6 col-md-12">
            <!-- Featured news -->
            <div
              class="single-news mb-lg-0 mb-4"
              style="padding: 12px 14px 16px 12px"
            >
              <!-- Image -->
              <div class="view overlay rounded z-depth-1-half mb-4">
                <img
                  class="img-fluid shadow-sm p-1 mb-5 bg-white rounded"
                  style="height: 100%; width: 100%"
                  src="./assets/img/images/sample-img.jpg"
                  alt="Sample image"
                />
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Data -->
              <div class="news-data d-flex justify-content-between">
                <a href="#!" class="deep-orange-text">
                  <h6 class="font-weight-bold">
                    <i class="fas fa-utensils pr-2"></i>NEPO2k20
                  </h6>
                </a>
                <p class="font-weight-bold dark-grey-text">27/02/2021</p>
              </div>

              <!-- Excerpt -->
              <h3 class="font-weight-bold dark-grey-text mb-3">
                <a>Title of the news</a>
              </h3>
              <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">
                Sed ut perspiciatis unde voluptatem omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto
                beatae vitae explicabo. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat.
              </p>
            </div>
            <!-- Featured news -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div id="colonnavue" class="col-lg-6 col-md-12">
            <!-- Small news -->
            <div class="single-news mb-4" v-for="x in news">
              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-3">
                  <!--Image-->
                  <div class="view overlay rounded z-depth-1 mb-4">
                    <img
                      v-bind:src="x.image"
                      class="img-fluid shadow-sm p-1 mb-5 bg-white rounded"
                      alt="Sample image"
                    />
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-9">
                  <!-- Excerpt -->
                  <span
                    class="badge rounded-pill bg-danger"
                    style="background-color: #ec6c00 !important"
                    >{{x.date}}</span
                  >
                  <div class="d-flex justify-content-between">
                    <div class="col-11 text-truncate pl-0 mb-3">
                      <br />
                      <a
                        v-bind:href="x.ref"
                        class="dark-grey-text"
                        style="color: black; text-decoration: none"
                        >{{x.title}}</a
                      >
                    </div>
                  </div>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
            <!-- Small news -->
          </div>
          <!--Grid column-->
        </div>
        <!-- Grid row -->
      </section>
      <!-- Section: Magazine v.2 -->
      <!-- END NEWS SECTION-->
      <pre></pre>
      <section id="linkBox">
        <div>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
        </div>
        <div>esempio@gmail.com - +39 012 345 6789</div>
      </section>
    </div>

    <script type="text/javascript" src="carousel.js"></script>
    <script type="text/javascript" src="scroll.js"></script>
  </body>
</html>
