.carousel {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

#TornaSu {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#TornaSu:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#linkBox td {
  width: 25%;
  padding-left: 10%;
}

#linkBox th {
  width: 25%;
  padding-left: 10%;
  padding-top: 5%;
}

#signin-btn {
  border-color: #ec6c00;
  color: #ec6c00;
  width: 140px;
}

#signin-btn:hover {
  background-color: #ec6c00;
  color: whitesmoke;
}

#navbarTogglerDemo03 {
  margin-left: 33%
}
