html {
  scroll-behavior: smooth;
  font-family: "Avenir-next", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

.astext {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: blue;
}

.container {
  margin: 0;
  padding: 0;
}

#carousel-section {
  width: 100vw;
}

#imgCarousel {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#iframeWrap {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 1.5%;
  overflow: hidden;
}

#iframeEvent {
  width: 100%;
}

#TornaSu {
  display: inline;
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 99;
  cursor: pointer;
  transform: translateX(65%);
}

#scrollArrow {
  width: 17.5%;
  height: auto;
}

#linkBox {
  position: absolute;
  padding-bottom: 2.5%;
  width: 100vw;
  right: 0;
  left: 0;
  background-color: blue;
  color: aqua;
  text-align: center;
}

#linkBox a {
  text-decoration: none;
  color: aqua;
}

.fa {
  padding: 2%;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#signin-btn {
  border-color: #ec6c00;
  color: #ec6c00;
  width: 140px;
}

#signin-btn:hover {
  background-color: #ec6c00;
  color: whitesmoke;
}

#navbarTogglerDemo03 {
  margin-left: 25%;
}

li {
  padding: 12px, 14px 24px, 12px;
}

li a:hover {
  color: #ec6c00 !important;
}

.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #ebf4fa;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-left: 35%;
  width: 50%;
}

.card-event img {
  width: 300px;
  height: 300px;
  border: solid white 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}
